@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
main {
    height: 100vh;
    position: relative;
}
#telefone {
    width: 311px;
    height: 627px;
    background-image: url(../imagens/frame-iphone.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}
#redes {
    position: absolute;
    top: 10%;
    right: 1%;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}
img:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    transform: translate(-5%, -5%);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
}